.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(33, 33, 33, 1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

.card__like-button {
  background-image: url(../images/Union.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 40%;
}

.card__like-button:hover {
  color: rgba(77, 77, 77, 1);
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 100%;
  }

  .card__title {
    white-space: normal;
    font-size: 16px;
    line-height: 1;
  }

  .card__content {
    align-items: flex-start;
  }

  .card__like_button {
    margin-top: 8px;
    width: 30px;
    height: 30px;
  }
}
