.cards {
  padding-top: 20px;
}

.page__section {
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(413px, 1fr));
  justify-content: center;
  gap: 40px 20px;
}

@media screen and (max-width: 627px) {
  .cards__list {
<<<<<<< HEAD
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
=======
    grid-template-columns: repeat(auto-fit, 288px);
    width: 100vw;
>>>>>>> 6f36d4b847892e40b9442b30754e79709dacac01
  }
}
