.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(33, 33, 33, 1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
  margin: 12px 0 0;
}

.card__like-button {
  background-image: url(../images/Union.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  box-sizing: border-box;
  opacity: 40%;
  margin: 12px 0 0;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 100%;
  }

  .card__content {
    justify-content: flex-start;
    width: 100%;
  }

  .card__title {
    margin: 12px 8px 2px 0;
    font-size: 16px;
    line-height: 1.2;
    flex-grow: 1;
  }

  .card__like-button {
    width: 18px;
    height: 20px;
    padding-right: 18px;
    flex-shrink: 0;
  }
}
